/* .card-bg {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-bg .card {
  background: lightgrey;
  padding: 15px;
  border: 1px solid lightslategray;
  border-radius: 12px;
}

.card-bg .repo-title {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-bg .repo-contr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
} */

.card-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: lightgrey;
  padding: 20px;
  gap: 10px;
  border: 1px solid lightslategray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.2s;
}

.card-details:hover {
  transform: scale(1.02);
}

.card-details .repo-title {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #333;
  margin-bottom: 10px;
}

.repo-title h3 {
  margin: 0;
  font-size: 1.5em;
}

.repo-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.repo-details {
  text-align: left;
  color: #333;
}

.issue-details h4 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.issue-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #333;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background: #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
}